@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;500;700&family=Space+Grotesk:wght@600&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}
